@keyframes example {  
  0%   {top: 100%;height: 100%;}
  50% {top: 0%;height: 100%;}
  100% {bottom: 100%;height: 0%;}  
}

.loading_screen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 164, 76);
    animation-name: example;
    animation-duration: 1s;
    -o-animation-delay: 1s;
    animation-fill-mode: both;
    z-index: -1;
}
@keyframes effect {
  0% {font-size:28px;}
  25% {font-size:30px;}
  50% {font-size:28px;}
  75% {font-size:30px;}
  100% {font-size:28px;}
}
.loading_text{
  position: absolute;
  color: #8d8f9a;
  font-family: "IBM Plex Serif",Big Caslon,serif;
  font-size: 28px;
  font-weight: 600;
  left: 40%;
  top: 50%;
  animation-name: effect;
  animation-duration: 3s;
 animation-direction:ease-in-out;
}